<nav class="navbar navbar-expand-lg pl-lg-5 mx-sm-auto ">
  <a class="navbar-brand ml-lg-5 mx-sm-auto" href="#">MAIDS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 d-flex justify-content-center mx-auto" style="width: 60vw;">
      <input #searchInput class="form-control mr-sm-2 col-md-7" type="search" placeholder="Search by ID"
        aria-label="Search" (input)="onSearch(searchInput.value)">
    </form>
  </div>
</nav>