.navbar {
  background-color: #00334e;

  a {
    color: white;
  }
}

a.navbar-brand {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
  // margin-left: 48px;
}