<div class="user-details">
  <div class="mb-4">
    <a class="btn btn-primary my-1" [routerLink]="['/all-users']">

      Go Home
    </a>
  </div>


  <p-tabView>
    <p-tabPanel header="General Information">
      <div class="general-info row d-flex justify-content-center ">
        <div class="col-lg-3 d-flex justify-content-center ">
          <div class="d-flex justify-content-center align-items-center">
            <img src={{user.avatar}} alt="">
          </div>
        </div>
        <div class="col-lg-9 pt-3 ">
          <table>
            <tr>
              <th>User ID</th>
              <td class=""> {{user.id}}</td>
            </tr>

            <tr>
              <th>User Name</th>
              <td> {{user.first_name}} {{user.last_name}}</td>
            </tr>
            <tr>
              <th>User Email</th>
              <td> {{user.email}}</td>
            </tr>

          </table>
        </div>
      </div>

    </p-tabPanel>
    <p-tabPanel header="Activity Log">

    </p-tabPanel>
    <p-tabPanel header="Favorites">

    </p-tabPanel>
    <p-tabPanel [disabled]="true" header="Setting"> </p-tabPanel>
  </p-tabView>
</div>