.carousel {
  width: 90vw;
  height: fit-content;
  background-color: #00000000;
  box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, 0.278);
  border-radius: 10px;
  overflow: hidden;
}

.carousel-item {
  cursor: pointer;
}

.card-body img {
  width: 100%;
}

.all-user {
  height: 92vh;

}

.dashboard-title {
  p {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: white;
  }

}

.home {
  height: 92vh;
}

td,
th {
  text-align: center !important;
}

tr {

  &:hover {
    cursor: pointer;

    td {
      color: white;
    }
  }
}

@media only screen and (max-width: 480px) {
  .dashboard-title {
    p {
      font-family: "Permanent Marker", cursive;
      font-weight: 400;
      font-style: normal;
      font-size: 25px;
      color: white;
    }
  }

  .all-user-table-class {
    // background-color: red;
    width: 25rem;
    height: 20rem;
    overflow-x: auto;
  }
}