<div class="home">
  <div class="row dashboard-title d-flex justify-content-center my-5">
    <div class="col-11  d-flex justify-content-center">
      <h2>Dashboard For Users</h2>
    </div>
  </div>
  <div class="row all-user-table">
    <p-table [value]=" users | search: searchId " #dt dataKey="id" [rows]="6" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[6]" [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-expanded="expanded">
        <tr [routerLink]="['/user-details' +'/'+ user.id]">
          <td>
            {{user.id}}
          </td>
          <td><img [src]="user.avatar" style="width: 20%;" /></td>
          <td>{{ user.first_name}}{{' '}}{{user.last_name}}</td>
          <td>{{ user.email}}</td>

        </tr>
      </ng-template>
    </p-table>
  </div>
</div>