<div class="">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="main-content bg-success d-flex justify-content-center align-items-center ">
    <div class=" col-lg-10 d-flex justify-content-center pt-3 px-lg-3">
      <router-outlet>
        <app-loading></app-loading>
      </router-outlet>
      <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus esse, provident, quasi nesciunt velit fugit
        eaque eveniet, sit voluptatum adipisci ea! Perferendis repellendus recusandae fugiat incidunt explicabo fuga
        velit fugit veniam quasi, officiis quibusdam maxime odio suscipit numquam laudantium quod cupiditate corporis
        sint iusto veritatis. Dicta placeat illum quod consequatur.</p> -->
    </div>

  </div>
</div>